html {
  background-image: linear-gradient(90deg ,#96C2DB, #E5EDF1);
  min-height: 1000px;
  font-family: 'helvetica neue';
}
/* HEADING */
h1 {
  color: #000000;
  padding: 10px;
}

#heading {
  background-color: #ffffff;
  text-align: center;
}

/* MAIN */
.container{
  max-width: 400px;
  margin: 50px auto;
}

.box {
  max-width: 400px;
  margin: 20px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 1);
}

.item {
  min-height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}
input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #000000;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

.newItem{
  padding: 0px 15px ;
}
button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #030000;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 300px;
  box-shadow: inset 0 -1px 0 0 #000000;
}

input[type="text"]:focus {
  outline: none;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
